<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" android:host="www.google.com" />
        </intent>
        <package android:name="com.google.android.apps.maps" />
    </queries>
    
    <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
  >
        <meta-data
      android:name="com.google.android.gms.ads.APPLICATION_ID"
      android:value="ca-app-pub-1639698267501945~9046694854"
    />

        <!-- Google Play Services -->
        <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version"
    />

        <!-- Google Sign-In Configuration -->
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.credentials.ENABLE_CREDENTIALS"
            android:value="true" />

        <!-- Web client ID for server verification -->
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.credentials.SERVER_CLIENT_ID"
            android:value="940873643414-13u2lck1pv368due6qu4smfonlbgh39c.apps.googleusercontent.com" />

        <!-- Google Sign-In -->
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.credentials.ACCOUNT_NAME"
            android:value="@string/app_name" />
            
        
        <!-- Activity for Google Sign-In -->
        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
            
        <activity
            android:name="com.google.android.gms.auth.api.signin.GoogleSignInActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

            <activity
    android:name="com.codetrixstudio.capacitor.GoogleAuth.GoogleAuthActivity"
    android:exported="true"
    android:launchMode="singleTask">
    <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="@string/custom_url_scheme" />
    </intent-filter>
</activity>

        <!-- Google Play Services -->
        <meta-data
      android:name="com.google.android.gms.wallet.api.enabled"
      android:value="true"
    />

        <activity
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation"
      android:name=".MainActivity"
      android:windowSoftInputMode="adjustResize"
      android:screenOrientation="portrait"
      android:label="@string/title_activity_main"
      android:theme="@style/AppTheme.NoActionBarLaunch"
      android:launchMode="singleTask"
      android:exported="true"
    >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

             <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="ubifindapp.com"
                   
                    />
                    <data
        android:scheme="ubifind"
        android:host="open" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="new-day-459708.firebaseapp.com"
                    android:scheme="https"
                />
            </intent-filter>

          
           
            
           
        </activity>
    </application>


   
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
</manifest>
