:root {
    --primary-color: #6c5ce7;
    --secondary-color: #00cec9;
    --light-color: #f5f6fa;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
    --shadow-light:2px 2px 3px rgba(255, 255, 255, 0.299);
  }

body{
    background: #4f46e554;
    background-blend-mode: overlay;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.05);
    min-height: 110vh;
    display: grid;
    place-content: center;
    min-width: 100vw;
    color: var(--light-color);
    font-family: "Galindo", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo-uf{
    width: 100px;
    height: auto;
    margin-top: 2rem;
    align-self: center;
    border-radius: 8px;
}
main{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
h2{
    text-align: center;

    margin-bottom: 20px;
}
form{
    background:linear-gradient(135deg, #4e46e5d8 0%, #4f46e5 100%);
    background-size:contain;
    text-wrap:pretty;
    background-repeat: no-repeat;
    
   
    padding: 20px 28px;
    min-width: 35%;
    max-width: 35%;
    min-height: 50vh;
    max-height: auto;
    letter-spacing: 1.6px;
    
    transition: var(--transition);
   border: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 1rem;
}

label{
    color: var(--light-color);
    margin-bottom: 1rem;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
input::placeholder{
    color: #f5f6fab2;
}
.inputContainer input{
    background-color: transparent;
    color: var(--light-color);
    transition: var(--transition);
    border: 1px solid var(--light-color);
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.2em;
}
button, .go{
    padding: 1rem;
    font-family: 'Galindo', sans-serif;
    min-width: 30%;
    border-radius: 8px;
    font-size: 1.2em;
    margin: auto;
    border: none;
    font-weight: bold;
    background: #f5f6fae8;
    filter: contrast(1.4);
    letter-spacing: 1.2px;
    color: #4f46e5;
    transition: .4s ease-in-out;
}
.go{
    text-align: center;
}
.noAccount{
    color: var(--light-color);
    opacity: .7;
}
.inputContainer.button button:hover {
    background-color:#4e46e575;
    outline:3px solid #fff;
    color: #fff;
    cursor: pointer;
  }
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
p{
     color: #eeeeee ;
}
a{
    color: #fff;
    text-decoration: none;
}
a:visited{
    color: #fff;
}
.exit{
    position: absolute;
    display: flex;
   
    min-width: 30px;
    min-height: 30px;
    left: 20px;
    top: 20px;
}
.exit a{
    color: #4f46e5;
}

span{
    color:#d63031;
    font-size: .8em;
}
.text{
    width: 100%;
    max-width: 100%;
}
select{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.show{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    width: 100%;
}
.show label{
    margin-bottom: 0;
}
#show-password{
    width: auto;
}

.terms{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
option{
    background-color: #19054f;
    
}
textarea{
    background-color: transparent;
    border-radius: 5px;
    color: aliceblue;
    font-size: 1.4em;
    min-width: 100%;
    max-width:  100%;
    min-height: 200px;
    max-height: 200px;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 1rem;
}
#anonymous-ini{
    color: aliceblue;
}
#anonymous-ini:hover{
    cursor: pointer;
}
#login-google{
    margin-top: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 1rem;
        background: linear-gradient(135deg, #7e57c2, #673ab7);
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        font-family: sans-serif;
      
        border: none;
        border-radius: 8px;
    font-size: 1.2em;
        cursor: pointer;
        transition: transform 0.2s, box-shadow 0.2s;
      
}
#login-google:hover{
        outline: none;
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(103, 58, 183, 0.3);
    
}
.go:hover{
    cursor: pointer;
}


  @media(max-width:1024px){
   
    
    form{

        min-width: 95%;
    }
    
  }
  
  @media(max-width:500px){
    form{
        margin-top: 5rem;
    }
    .form-user{
        
        margin: auto;
    }
  }
  @media(max-width:400px){
    h2{
        font-size: 1.3em;
    }
    
  }